.tmt-modal-wrapper {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: sans-serif;
  opacity: 0;
  visibility: hidden;
}
.tmt-modal-wrapper.show {
  opacity: 1;
  visibility: visible;
}
.tmt-modal-wrapper .tmt-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
}

.tmt-modal-content {
  background-color: #fff;
  position: absolute;
  top: 20px;
  left: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.6);
  opacity: 0;
  transform: translate(-50%, 0) scale(1.2);
  transition: all 0.3s ease;
  border-radius: 5px;
}
.tmt-modal-open .tmt-modal-content {
  opacity: 1;
  transform: translate(-50%, 0) scale(1);
}
.tmt-modal-body {
  padding: 20px;
}
.tmt-modal-header {
  position: relative;
  padding: 15px 20px 10px 20px;
  border-bottom: 1px solid #ccc;
}
.tmt-modal-footer {
  padding: 10px 20px;
  border-top: 1px solid #ccc;
  text-align: right;
}

.tmt-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 14px 17px;
  cursor: pointer;
}
body.tmt-modal-open {
  overflow: hidden;
}
.tmt-dialog {
  position: relative;
}
